.col-sm-2 {
    /* margin: 0px; */
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0px !important;
    padding-bottom: 15px !important;
    
}
.navbar {
    margin: 0px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-radius: 0 !important;
    padding-top: 5px !important;
    padding-bottom: 10px !important;
    text-align: center;
    background-color: black !important;
    /* font-size: 30px !important; */
}

.navbar-brand{
    padding-top: 0px !important;
    padding-bottom: 10px !important;
}
.jumbotron {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background-color: darkgray !important;
    border-radius: 0 !important;
}
.CardTitle{
    border-radius: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    text-align: center;
    font-size: 25px;
    margin: 0px !important;
}



.inMenu {
    font-size: 15px !important;
    text-align: center;
    padding-bottom: 0!important;
}
.col-md-2 {
    text-align: left;
    padding-top: 0px !important;
    padding-bottom: 15px !important;
}
.col-md-9 {
    color: gray;
    padding-top: 0px !important;
    padding-bottom: 15px !important;
}
.col-md-1 {
    padding-top: 0px !important;
    padding-bottom: 15px !important;
}
.card{
    border-radius: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    text-align: center;
   
}